





@model MVC_Kutuphane_Otomasyonu_Entities.Model.Uyeler
@{
    ViewBag.Title = "Duzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg">

        <div class="ibox">
            <div class="ibox-head">
                <b>Üye Duzenleme Sayfası</b>
            </div>
            <div class="ibox-body">
                @using (Html.BeginForm("Duzenle", "Uyeler", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    @Html.HiddenFor(x => x.ID)

                    <div class="form-group">
                        <img src="@Model.Resim " width="100" height="100" />
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(x => x.Resim)
                        @Html.TextBoxFor(x => x.Resim, new { @class = "form-control", type = "file" })

                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(x => x.AdSoyad)
                        @Html.TextBoxFor(x => x.AdSoyad, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AdSoyad, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(x => x.Telefon)
                        @Html.TextBoxFor(x => x.Telefon, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Telefon, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(x => x.Adres)
                        @Html.TextAreaFor(x => x.Adres, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Adres, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(x => x.Email)
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.DisplayNameFor(x => x.OkuKitapSayisi)
                        @Html.TextBoxFor(x => x.OkuKitapSayisi, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OkuKitapSayisi, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.DisplayNameFor(x => x.KayitTarihi)
                        @Html.TextBoxFor(x => x.KayitTarihi, new { @class = "form-control", type = "datetime-local", Value = Model.KayitTarihi.ToString("yyyy-MM-dd HH:mm") })
                        @Html.ValidationMessageFor(model => model.KayitTarihi, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-info">Kaydet</button>
                    </div>

                }


            </div>
        </div>
    </div>
</div>


