
@model MVC_Kutuphane_Otomasyonu_Entities.Model.Kullanicilar
@{
    ViewBag.Title = "Duzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg">
        <div class="ibox">
            <div class="ibox-head">
                <h2 class="login-title"> Kullanıcı Düzenleme İşlemleri </h2>
            </div>
            <div class="ibox-body">
                @using (Html.BeginForm("Duzenle", "Kullanicilar", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })


                    @Html.HiddenFor(x => x.ID)

                    <div class="form-group">
                        @Html.TextBoxFor(x => x.AdSoyad, new { @class = "form-control", placeholder = "Adı Soyadı" })
                        @Html.ValidationMessageFor(model => model.AdSoyad, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.TextBoxFor(x => x.KullanıcıAdı, new { @class = "form-control", placeholder = "Kullanıcı Adı" })
                        @Html.ValidationMessageFor(model => model.KullanıcıAdı, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.TextBoxFor(x => x.Telefon, new { @class = "form-control", placeholder = "Telefon" })
                        @Html.ValidationMessageFor(model => model.Telefon, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.TextAreaFor(x => x.Adres, new { @class = "form-control", placeholder = "Adres" })
                        @Html.ValidationMessageFor(model => model.Adres, "", new { @class = "text-danger" })


                    </div>

                    <div class="form-group">
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Email" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.TextBoxFor(x => x.Sifre, new { @class = "form-control", placeholder = "Şifre" })
                        @Html.ValidationMessageFor(model => model.Sifre, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.DisplayFor(x => x.KayitTarihi)
                        @Html.TextBoxFor(x => x.KayitTarihi, new { @class = "form-control", type = "datetime-local", Value = Model.KayitTarihi.ToString("yyyy-MM-dd HH:mm") })
                        @Html.ValidationMessageFor(x => x.KayitTarihi, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Kaydet</button>
                    </div>

                }
            </div>
        </div>
    </div>

</div>





