@using PagedList;
@using PagedList.Mvc;


@model PagedList.IPagedList<MVC_Kutuphane_Otomasyonu_Entities.Model.KitapTurleri>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<form action="Index2">
    <label style="font-weight:bold">Kitap Türü Ara : </label>
    @Html.TextBox("ara")

    <button type="submit"> Ara </button>
</form>
<div class="row">
    <div class="col-lg">

        <div class="ibox">
            <div class="ibox-head">
                Kitap Türleri Listesi
            </div>
            <div class="ibox-body">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th> ID</th>
                            <th>Kitap Türü </th>
                            <th>Açıklama </th>
                            <th>Düzenle </th>
                            <th>Sil </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>@item.ID</th>
                                <td>@item.KitapTuru</td>
                                <td>@item.Aciklama</td>
                                <td><a href="/KitapTurleri/Duzenle/@item.ID" class="btn btn-warning">Düzenle</a></td>
                                <td><a href="/KitapTurleri/Sil/@item.ID" class="btn btn-danger">Sil</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.PagedListPager(Model, page => Url.Action("Index2", new { page, ara = Request.QueryString["ara"] }),
    new PagedListRenderOptions
    {
        UlElementClasses = new[] { "pagination" },
        LiElementClasses = new[] { "page-item" },
        // Sayfa linklerine Bootstrap class'ı eklemek için:
        FunctionToTransformEachPageLink = (li, a) =>
        {
            a.AddCssClass("page-link");
            li.InnerHtml = a.ToString();
            return li;
        }
    })
                @*@Html.PagedListPager(Model, page => Url.Action("Index", "KitapTurleri", new { page, ara = Request.QueryString["ara"] }), new PagedListRenderOptions
        {
            FunctionToTransformEachPageLink = (li, a) =>
            {

                a.AddCssClass("page-link");
                li.InnerHtml = a.ToString();
                return li;
            },

        })*@

                <a href="/KitapTurleri/Ekle" class="btn btn-success">Yeni</a>
            </div>
        </div>
    </div>
